/* CSS for Login Form */
body {
    
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    border-style: double;
    overflow: hidden;
   
}
button{
    text-align: center;
}
div{
    padding-top: 100px;
    padding-left: 600px;
    padding-right: 600px;
}
.Register{
    text-align: center;
    padding-left: 600px;
   padding-right: 600px;
   background-color: #007BFF;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
